<form action="/lost_pets/<%= @lost_pet.id %>" method="post">
    <input type="hidden" name="_method" value="put">


    <label>pet name</label>
    <input name="pet_name" type="text" value="<%= @lost_pet['pet_name'] %>">

    <label>House Number</label>
    <input name="house_number" type="text" value="<%= @lost_pet['house_number'] %>">

    <label>Street Name</label>
    <input name="street_name" type="text" value="<%= @lost_pet['street_name'] %>">

    <label>postcode</label>
    <input name="house_number" type="number" value="<%= @lost_pet['house_number'] %>">

    <label>City</label>
    <input name="city" type="text" value="<%= @lost_pet['city'] %>">

    <label>Date</label>
    <input name="lost_date" type="date" value="<%= @lost_pet['date'] %>">

    <label for="">Image</label>
    <input type="text" name="image_url" value="<%= @lost_pet['image_url']  %>">

    <button>update</button>

</form>

<form action="/lost_pets/<%= @lost_pet['id'] %>/delete" method="post">
  <img src="<%= @lost_pet['image_url'] %>" alt="">
  <button>delete</button>

</form>
