<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WELCOME TO PET FINDER</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>

    <form class="signup" action="/signup" method="post">

      <label>first name</label>
      <input type="text" name="first_name" >

      <label>last name</label>
      <input type="text" name="last_name" >

      <label>email</label>
      <input type="text" name="email" >

      <label>password</label>
      <input type="password" name="password" >

      <button onclick="codeAddress()">sign up here</button>
    </form>


    <div id="map-canvas">  </div>


    <div class="pets-list">

    <% @lost_pets.each do |lost_pet| %>

       <img class="pet-image" src="<%= lost_pet['image_url'] %>" alt="">

      <a href="/lost_pets/<%= lost_pet['id'] %>">
        <%= lost_pet["pet_name"] %> went missing on <%= lost_pet["lost_date"] %>

        <span class="house-number">
          <%= lost_pet["house_number"]%>
        </span>

        <span class="street-name">
        <%= lost_pet["street_name"] %>
        </span>

        <span class="postcode">
        <%= lost_pet["postcode"] %>

        </span>
      </a>


    <% end %>

  </div>





    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZdCsjrW3IViy59CQQJet2cFb_bTRrJ_Q&callback=initMap"async defer></script>
  </body>
</html>
