<h2><%= @lost_pet.pet_name %></h2>

<img src="<%= @lost_pet['image_url'] %>" alt="">

<p>
  went missing on <%= @lost_pet. %>
</p>

<% if logged_in? %>
  <form action="/lost_pets/<%= @lost_pet.id %>/edit">
    <button>edit</button>
  </form>

  <form action="/lost_pets/<%= @lost_pet.id %>/delete" method="post">
    <button>delete</button>

  </form>

<% end  %>

<% @lost_pet.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <hr>
<% end  %>


<form action ="/comments" method="post">
  <input type="hidden" name="lost_pet_id" value="<%=@lost_pet.id  %>">
  <textarea name="body"></textarea>
  <button>post</button>
</form>

<a href="/lost_pets/<%= @lost_pet['id']%>/edit">edit</a>
